<ion-content [fullscreen]="true">

  <div class="recovery-page">

    <!-- Cabecera -->
    <section class="hero-section">

      <div class="logo-circle">
        <span>RS</span>
      </div>

      <h1>Recuperar contraseña</h1>

      <p>
        Recupera el acceso a tu cuenta
      </p>

    </section>


    <!-- Tarjeta -->
    <section class="recovery-card">

      <div class="form-header">

        <span class="welcome-label">
          ¿Problemas para ingresar?
        </span>

        <h2>
          Recupera tu cuenta
        </h2>

        <p>
          Ingresa el correo electrónico asociado a tu cuenta
          y te enviaremos un código de recuperación.
        </p>

      </div>


      <div class="form-section">

        <ion-item lines="none" class="input-item">

          <ion-input label="Correo electrónico" labelPlacement="floating" type="email" placeholder="correo@ejemplo.com">
          </ion-input>

        </ion-item>


        <ion-button expand="block" class="recovery-button">

          Enviar código

        </ion-button>


        <div class="back-section">

          <ion-button fill="clear" [routerLink]="['/login']" [queryParams]="{ rol: rol }" class="back-button">

            Volver al inicio de sesión

          </ion-button>

        </div>

      </div>

    </section>


    <p class="footer-text">
      Tu seguridad comienza aquí.
    </p>

  </div>

</ion-content>