<ion-content [fullscreen]="true">
  <div class="recovery-container">

    <div class="header-section">
      <h1>Recuperar contraseña</h1>

      <p>
        Ingresa el correo electrónico asociado a tu cuenta
        y te enviaremos un código de recuperación.
      </p>
    </div>

    <div class="form-section">

      <ion-item>
        <ion-input label="Correo electrónico" labelPlacement="floating" type="email" placeholder="correo@ejemplo.com">
        </ion-input>
      </ion-item>

      <ion-button expand="block">
        Enviar código
      </ion-button>

      <div class="back-section">
        <ion-button fill="clear" [routerLink]="['/login']" [queryParams]="{ rol: rol }">
          Volver al inicio de sesión
        </ion-button>
      </div>

    </div>

  </div>
</ion-content>