<ion-content [fullscreen]="true">

  <div class="home-page">

    <!-- FLECHA REVERSA -->
<button class="back-button" type="button" (click)="volver()">
  <ion-icon name="arrow-back-outline"></ion-icon>
</button>


    <!-- HERO -->
    <section class="hero-section">

      <img
        src="assets/images/bus-escolar.png"
        alt="Bus escolar Rutas Seguras"
        class="bus-image"
      />

      <h1>Rutas Seguras</h1>

      <p>
        TU RUTA ESCOLAR, MÁS SEGURA
      </p>

    </section>


    <!-- OPCIONES -->
    <section class="options-card">

      <div class="welcome-section">

        <span>BIENVENIDO/A</span>

        <h2>¿Cómo deseas ingresar?</h2>

        <p>
          Selecciona tu tipo de usuario
        </p>

      </div>


      <!-- APODERADO -->
      <ion-button
        expand="block"
        class="role-button"
        routerLink="/login"
        [queryParams]="{ rol: 'apoderado' }">

        <div class="button-content">

          <div class="button-icon">
            <ion-icon name="people-outline"></ion-icon>
          </div>

          <div class="button-text">
            <strong>Soy Apoderado</strong>
            <span>Gestiona y acompaña a tus hijos</span>
          </div>

          <ion-icon
            class="arrow-icon"
            name="chevron-forward-outline">
          </ion-icon>

        </div>

      </ion-button>


      <!-- CONDUCTOR -->
      <ion-button
        expand="block"
        class="role-button driver-button"
        routerLink="/login"
        [queryParams]="{ rol: 'conductor' }">

        <div class="button-content">

          <div class="button-icon">
            <ion-icon name="bus-outline"></ion-icon>
          </div>

          <div class="button-text">
            <strong>Soy Conductor</strong>
            <span>Gestiona tus rutas y recorridos</span>
          </div>

          <ion-icon
            class="arrow-icon"
            name="chevron-forward-outline">
          </ion-icon>

        </div>

      </ion-button>


    </section>


    <p class="footer-text">
      Viaja seguro. Viaja acompañado.
    </p>

  </div>

</ion-content>